/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    display: inline-block;
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #f2f2f0;
    font: 20px/30px Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    line-height: 40px;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
}

nav ul {
    background-color: #333332;
    padding: 0;
    margin: 0;

   -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
       -ms-transition: background-color .2s;
        -o-transition: background-color .2s;
           transition: background-color .2s;
}

nav ul:hover {
    background-color: rgba(51,51,50,0.5);
}

nav a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 8px;
}

nav a:hover {
    text-decoration: none;
}

.image-wrapper {
    max-height: 537px;
    position: relative;
}

.image-wrapper img {
    width: 100%;
}

.image-wrapper .image {
    background-position: 50% 33%;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrapper {
    max-width: 680px;
    margin: 0 auto 70px;
}

article {
    margin-bottom: 50px;
}

.main {
    color: #333332;
    margin: 0 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.main pre {
  border: 1px solid #ddd;
  padding: 0 .4em;
}

.main ul,
.main ol {
  margin-left: 1.35em;
  padding: 0;
}

.main code {
  border: 1px solid #ddd;
  font-size: 85%;
  padding: 0 .2em;
}

.main pre code {
  border: none;
}


.main pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

.main pre.terminal code {
  background-color: #333;
}

.date {
    border-bottom: 1px solid #dededc;
}

.date p {
    margin-bottom: 12px;
}

.author {
    border: solid #dededc;
    border-width: 2px 0;
    padding: 20px 0;
    margin-bottom: 10px;
}

.author .clip {
    float: left;
    height: 75px;
    margin-right: 20px;
    overflow: hidden;
    width: 75px;
    -webkit-border-radius: 75px;
       -moz-border-radius: 75px;
            border-radius: 75px;
}

.author h3 {
    font-size: 1em;
    margin: 10px 0 0;
}

.author p {
    font-size: 0.8em;
    margin: 0;
}

.contact {
    float: left;
}

.contact.right {
    float: right;
    text-align: right;
}

.contact p {
    font-size: 0.7em;
    margin: 0;
}

.scale img {
    width: 100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 780px) {

    nav {
        position: absolute;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
