<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Moz Morris" />
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/screen.css">
        <link href="http://feeds.feedburner.com/mozmorris" rel="alternate" title="Moz Morris" type="application/atom+xml" />

        <style>
            a,
            .post__date span {
                color: #{{ page.color }};
            }
        </style>

        <script type="text/javascript">
            !function(){var a={kitId:"pqx4dld",scriptTimeout:3e3},b=document.getElementsByTagName("html")[0];b.className+=" wf-loading";var c=setTimeout(function(){b.className=b.className.replace(/(\s|^)wf-loading(\s|$)/g," "),b.className+=" wf-inactive"},a.scriptTimeout),d=document.createElement("script"),e=!1;d.src="//use.typekit.net/"+a.kitId+".js",d.type="text/javascript",d.async="true",d.onload=d.onreadystatechange=function(){var b=this.readyState;if(!(e||b&&"complete"!=b&&"loaded"!=b)){e=!0,clearTimeout(c);try{Typekit.load(a)}catch(d){}}};var f=document.getElementsByTagName("script")[0];f.parentNode.insertBefore(d,f)}();
        </script>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="page-wrapper">
            <header class="page-header">
                <nav class="[ primary-nav ]">
                    <ul class="[ primary-nav__list ]">
                        <li>
                        {% if page.link == 'home' %}
                            <a href="/">Home</a>
                        {% else %}
                            <a href="/about.html">About</a>
                        {% endif %}
                        </li>
                    </ul>
                </nav>

                <div class="[ banner ]">
                    <img class="[ banner__spacer ]" src="/images/space.gif">

                    <div class="[ banner__image ]" style="background-image: url(/images/{{ page.image }});"></div>

                    {% if page.caption %}
                    <div class="[ banner__caption ]">
                        <em>{{ page.caption }}</em>
                    </div>
                    {% endif %}
                </div>
            </header>

            <div class="page-content">
                {{ content }}

                <div class="[ author ]">
                    {% if page.link == 'home' %}
                    <a class="[ author__image ]" href="/"><img src="/images/moz_morris.jpg" alt="Moz Morris"></a>

                    <h3><a href="/">Moz Morris</a></h3>
                    {% else %}
                    <a class="[ author__image ]" href="/about.html"><img src="/images/moz_morris.jpg" alt="Moz Morris"></a>

                    <h3><a href="/about.html">Moz Morris</a></h3>
                    {% endif %}

                    <p>Freelance Web Developer</p>
                </div>

                <div class="[ contact ]">
                    <div class="[ contact__links ]">
                        <p><a href="https://github.com/MozMorris">https://github.com/MozMorris</a></p>

                        <p><a hrfe="http://www.linkedin.com/in/mozmorris">http://www.linkedin.com/in/mozmorris</a></p>
                    </div>
                    <div class="[ contact__links contact__links--credits ]">
                        <p>moz@earthview.co.uk</p>

                        <p>
                            powered by <a href="https://github.com/mojombo/jekyll">jeykll</a> &amp; <a href="https://github.com/">GitHub</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-37441744-1');ga('send','pageview');
        </script>
    </body>
</html>
